@import "tailwindcss";

@theme {
  --color-dark-900: #141414;
  --color-dark-800: #1d1e1f;
  --color-dark-700: #2b2d30;
  --color-dark-600: #4C4D4F;

  --color-primary: #409eff;
  --color-primary-hover: #66b1ff;
  --color-primary-dark: #3a8ee6;

  --color-success: #22c55e;
  --color-success-hover: #16a34a;

  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;

  --color-warning: #f59e0b;
  --color-warning-hover: #d97706;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-dark-900 text-gray-200 font-sans antialiased;
}
